$xs-min: 0px;
$sm-min: 745px;
$md-min: 925px;
$lg-min: 1153px;

$xs-gutter: 5px;
$sm-gutter: 10px;
$md-gutter: 15px;
$lg-gutter: 20px;

$hygrid-columns: 12;

$hygrid-grid-prefix: 'hygrid';
$hygrid-column-prefix: 'hcol';